body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.top {
  width: 100%;
  margin: 1rem auto;
}

.search {
  width: 50%;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

::placeholder {
  color: black;
}

.home-input {
  margin: 0 38px 27px 46px;
}

.card-container {
  display: flex;
  flex-direction: row;
}
